.speedometer {
  background: url("../../images/speedometer.png");
  width: 48px;
  height: 48px;
  text-align: center;
}

.communication {
  background: url("../../images/handshake.png");
  width: 48px;
  height: 48px;
  text-align: center;
}

.develop {
  background: url("../../images/develop.png");
  width: 48px;
  height: 48px;
  text-align: center;
}.learn {
  background: url("../../images/course.png");
  width: 48px;
  height: 48px;
  text-align: center;
}